@model Roladex.Models.Contact

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address11" class="control-label"></label>
                <input asp-for="Address11" class="form-control" />
                <span asp-validation-for="Address11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address12" class="control-label"></label>
                <input asp-for="Address12" class="form-control" />
                <span asp-validation-for="Address12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address1City" class="control-label"></label>
                <input asp-for="Address1City" class="form-control" />
                <span asp-validation-for="Address1City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address1State" class="control-label"></label>
                <input asp-for="Address1State" class="form-control" />
                <span asp-validation-for="Address1State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address1Zip" class="control-label"></label>
                <input asp-for="Address1Zip" class="form-control" />
                <span asp-validation-for="Address1Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address21" class="control-label"></label>
                <input asp-for="Address21" class="form-control" />
                <span asp-validation-for="Address21" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address22" class="control-label"></label>
                <input asp-for="Address22" class="form-control" />
                <span asp-validation-for="Address22" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2City" class="control-label"></label>
                <input asp-for="Address2City" class="form-control" />
                <span asp-validation-for="Address2City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2State" class="control-label"></label>
                <input asp-for="Address2State" class="form-control" />
                <span asp-validation-for="Address2State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2Zip" class="control-label"></label>
                <input asp-for="Address2Zip" class="form-control" />
                <span asp-validation-for="Address2Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email1" class="control-label"></label>
                <input asp-for="Email1" class="form-control" />
                <span asp-validation-for="Email1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email2" class="control-label"></label>
                <input asp-for="Email2" class="form-control" />
                <span asp-validation-for="Email2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone1" class="control-label"></label>
                <input asp-for="Telephone1" class="form-control" />
                <span asp-validation-for="Telephone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone2" class="control-label"></label>
                <input asp-for="Telephone2" class="form-control" />
                <span asp-validation-for="Telephone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
